/*---------------------------------------------------------------------------------------*/
.navigation-barHome {
    display: none;
    z-index: 7;
    max-width: 100%;
    width: 300px;
}
@media (max-width: 768px) {
    .navigation-barHome {
        display: block;
        /*background: -webkit-linear-gradient(right, #7010af, #340070, #340070, #340070);*/
        background: linear-gradient(to left, #7110af 10%, #340070 100%);
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);  
        width: 27%;
        height: 50%;
        z-index: 100;
        object-fit: cover;
       /* position: fixed;*/
    }
    
    .navigation-barHome .list-items {
        list-style: none;
        display: flex;
        position: relative;
    }
    
    .navigation-barHome .list-items .pointer {
        position: absolute;
        left: 0px;
        height: 100%;
        width: 4.5rem;
        z-index: 0;
        transition: all 0.2s linear;
    }
    
    .navigation-barHome .list-items .pointer::before,
    .navigation-barHome .list-items .pointer::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
    }
    
    .navigation-barHome .list-items .pointer::before {
        top: 0;
        border-bottom: 8px solid var(--main-color);
        border-radius: 0 0 30px 30px;
    }
    
    .navigation-barHome.list-items .pointer::after {
        bottom: 0;
        border-top: 8px solid var(--main-color);
        border-radius: 30px 30px 0 0;
    }
    
    .navigation-barHome .list-items .item {
        flex: 1 1 0px;
        position: relative;
        z-index: 2;
        color: white;
    }
    
    .navigation-barHome .list-items .item .link {
        display: inline-block;
        height: 50px;
        width: 4.5rem;
        line-height: 3.4;
        margin-left: -25%;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: var(--second-color);
    }
    
    .navigation-barHome .list-items .item.active .link {
        color: var(--main-color);
    }
    
    .navigation-barHome .list-items .item .link i {
        font-size: 1.4rem;
        transition: font-size 0.2s linear;
    }
    
    .navigation-barHome .list-items .item.active .link i {
        font-size: 1.4rem;
    }
    
    .textnavigattionbar {
        position: absolute;
        margin-top: -30%;
        color: white;
        width: 120%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: -28%;
        z-index: 10;
    }
    
}

/*---------------------------------------------------------------------------------------*/