 * {
   box-sizing: border-box;
   margin: 0;
 }

 .slider-container {
   max-width: 2500px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

 }

 .sectionSlider {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .active {
   display: inline-block;
 }

 .inactive {
   display: none;
 }

 .slides {

   top: 10%;
 }

 .slide-image {
   width: 100%;
   height: 100%;
   right: 0;
   left: 0;
   border-radius: 0%;
   border-bottom: 3px solid #ffb320;
 }

 .prev,
 .next {
   color: transparent;
   cursor: pointer;
   z-index: 100;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 1rem;
   margin-top: -3rem;
   font-size: 40px;
   font-weight: bold;
   border-radius: 0px 5px 5px 0px;
 }

 .next {
   right: 0;
   border-radius: 5px 0px 0px 5px;
 }

 .all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 100%;
  justify-content: center;
  z-index: 0;
  display: block;
}

 /* .dot {
   cursor: pointer;
   height: 1.5rem;
   width: 1.5rem;
   margin: 0px 3px;
   background-color: transparent;
   border-radius: 50%;
   display: inline-block;
 } */

 .slider-container:hover .dot:hover {
   background-color: rgba(255, 255, 255, 0.5);
 }


 .slider-container:hover .dot {
   background-color: rgba(0, 0, 0, 0.3);
 }

 .slider-container:hover .active-dot {
   background-color: rgba(255, 255, 255, 0.5);
 }

 .play-pause {
   color: black;
 }

 @media screen and (max-width: 1200px) {
   .slider-container {
     height: 100%;
   }

   .slides {
     width: 100%;
     height: 100%;
     top: 0;
   }

   .slide-image {
     width: 100%;
     height: 40%;
     object-fit: contain;
     top: 0%;
   }
 }

 @media screen and (max-width: 800px) {
   .slider-container {
     height: 100%;
   }

   .slides {
     width: 100%;
     height: 60%;
     top: 0;
   }

   .slide-image {
     width: 100%;
     height: 100%;
     object-fit: contain;
     top: 0%;
   }
   .all-dots {
    width: 50%;
  }
 }

 @media screen and (max-width: 500px) {
   .slider-container {
     height: 100%;
   }

   .slides {
     width: 100%;
     height: 30%;
   }

   .slide-image {
     width: 100%;
     height: 100%;
     object-fit: contain;
   }
   .dot {
    height: 0.5rem;
    width: 0.5rem;
    display: none;
  }
  .all-dots {
    display: none;
  }
 }


 @media screen and (max-width: 350px) {
   .slider-container {
     height: 100%;
   }

   .slides {
     width: 100%;
     height: 18%;
     top: 0;
   }

   .slide-image {
     width: 100%;
     height: 100%;
     object-fit: contain;
     top: 0%;
   }
 }


 @media (min-width:1200px) {

   .slider-container {
     height: 40%;
   }

   .slide-image {
     width: 100%;
     height: 100%;
     object-fit: contain;
     top: 0%;
   }

   .slides {
     width: 100%;
     top: 0;
   }
 }