@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@font-face {
    font-family: Mitr;
    src: url(../../font/Mitr/Mitr-Regular.ttf);
}

.font {
    font-family: Mitr;
}
Deposit
::selection {
    background: #fa4299;
    color: #fff;
}

.displayFooterWitdraw {
    display: block;
    z-index: 5;
}

.main-AddWitdraw {
    min-width: 100vw;
}

.wrapperReset {
    overflow: hidden;
    width: 50%;
    height: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background: linear-gradient(to bottom, #0ab3ff 1%, #1218ff 40%);
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    margin: 9rem auto;
    position: relative;
    margin-top: 4%;
}

.wrapperReset .title-textReset {
    display: flex;
    width: 100%;
}

.wrapperReset .titleWitdraw {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapperReset .slide-controlsWitdraw {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 5px 0 10px 0;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
}

.textTitleReset {
    width: 80%;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    margin: 5px 0 2px 0;
    margin-left: 20%;
}

.textinputWitdraw {
    margin: 5px 0 50px 0;
}


.form-innerReset form .fieldReset input::placeholder {
    color: #ff00ff;
    transition: all 0.3s ease;
}


.textFrameReset {
    border-radius: 30px;
    width: 50%;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

.title-textReset {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.slide-controlsWitdraw .slideWitdraw {
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controlsWitdraw label.signup {
    color: #000;
    display: none;
}

.slide-controlsWitdraw .slider-tabWitdraw {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: none;
}

.wrapInputWitdraw {
    position: relative;
    max-width: 100%;
    height: 50px;
    margin: auto;
}

.wrapperReset .form-containerReset {
    width: 100%;
    overflow: hidden;
}

.form-containerReset .form-innerReset {
    display: flex;
    width: 200%;
}

.form-containerReset .form-innerReset form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.form-innerReset form .fieldReset {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.form-innerReset form .fieldReset input {
    height: 100%;
    width: 60%;
    outline: none;
    padding-left: 15px;
    border-radius: 20px;
    border-bottom-width: 2px;
    border: 3px solid rgb(175, 23, 206);
    font-size: 30px;
    text-align: center;
    transition: all 0.3s ease;
    color: rgb(126, 16, 160);
}


.form-innerReset form .fieldDataWitdraw {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.form-innerReset form .fieldDataWitdraw input {
    height: 100%;
    width: 60%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border-bottom-width: 2px;
    font-size: 30px;
    text-align: center;
    transition: all 0.3s ease;
    background: -webkit-linear-gradient(right, #0148a5, #135199, #1e8cf3, #00b1e7);
    box-shadow: 5px 0.2px 9px black;
    color: white;
}

.form-innerReset form .fieldDataWitdraw input:focus {
    border-color: #fc83bb;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-innerReset form .fieldDataWitdraw input::placeholder {
    color: #ffffff;
    transition: all 0.3s ease;
}

form .fieldDataWitdraw input:focus::placeholder {
    color: #ffffff;
}


.form-innerReset form  {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.form-innerReset form  input {
    height: 100%;
    width: 60%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border-bottom-width: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 5px 0.2px 9px black;
    border: 3px solid rgb(37, 88, 255);

}

.colorFontWindarw{
    color: rgb(0, 162, 255);
    font-size: 25px;
}

.colorFontReset{
    color: rgb(0, 38, 255);
    font-size: 25px;
}

.form-innerReset form  input:focus {
    border-color: #fc83bb;
}

.form-innerReset form  input::placeholder {
    color: #ffffff;
    transition: all 0.3s ease;
}

form  input:focus::placeholder {
    color: #ffffff;
}


.form-innerReset form .pass-link {
    margin-top: 5px;
    text-align: center;
}

.form-innerReset form .Witdraw-link {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5%;
}

.form-innerReset form .pass-link a,
.form-innerReset form .Witdraw-link a {
    color: #fa4299;
    text-decoration: none;
}

.form-innerReset form .pass-link a:hover,
.form-innerReset form .Witdraw-link a:hover {
    text-decoration: underline;
}

form .btn {
    top: 10px;
    height: 10px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layer {
    height: 210%;
    width: 0%;
    position: absolute;
    left: -100%;
    border-radius: 5px;
    transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btnsubmitWitdraw input[type="submitReset"] {
    height: 100%;
    font-size: 20px;
    width: 60%;
    z-index: 2;
    border-radius: 10px;
    color: #ffffff;
    background: -webkit-linear-gradient(right, #930bbd, #b31de0, #c244e9, #be3ee6);
    margin-top: 0%;
    box-shadow: 5px 0.2px 9px black;
    cursor: pointer;
    margin-top: 2%;
}

.marinReset{
    margin-top: 2%;
}
.input-container {
    position: relative;
}

.input-with-iconReposit {
    padding-left: 40px;
    /* Add space for the icon */
}

.input-iconReset {
    position: absolute;
    left: 22%;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 10;
}

.imgWayWitdraw {
    width: 500px;
    object-fit: contain;
}

.scaltimgWitdraw {
    position: absolute;
    width: 10%;
    top: 0%;
    left: 0%;
    z-index: 3;
    object-fit: contain;
    pointer-events: none;
}

/*---------------------------------------------------------*/
.WitdrawimgShadowCircleI {
    width: 11%;
    box-shadow: 15px 4px 15px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 75%;
    left: 70%;
    z-index: 10;
}

.scaltimgWitdrawCircle {
    width: 100%;
    height: auto;
    object-fit: contain;
    border: none;
}

/*---------------------------------------------------------*/
.WitdrawimgShadowCircleII {
    width: 30%;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 58%;
    left: 10%;
    z-index: 3;
}

/*---------------------------------------------------------*/
.WitdrawimgShadowCircleV {
    width: 15%;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 40%;
    left: 17%;
    z-index: 4;
    display: block;
}

/*---------------------------------------------------------*/
.WitdrawimgShadowCircleVI {
    width: 15%;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 40%;
    left: 66%;
    z-index: 3;
    display: block;
}

/*---------------------------------------------------------*/
.scaltimgWitdrawCircleIII {
    position: absolute;
    overflow: hidden;
    width: 15%;
    bottom: 10%;
    left: 65%;
    z-index: 4;
    object-fit: contain;
    pointer-events: none;
}

.scaltimgWitdrawCircleIIII {
    position: absolute;
    width: 18%;
    bottom: 20%;
    left: 15%;
    z-index: 4;
    display: block;
    object-fit: contain;
    pointer-events: none;
}

.scaltimgWitdrawCircleVI {
    position: absolute;
    width: 15%;
    top: 2%;
    left: 68%;
    z-index: 1;
    display: block;
    object-fit: contain;
    pointer-events: none;
}


@media (max-width: 1200px) {
    input {
        font-size: 14px;
    }

    .wrapperReset {
        width: 90%;
        height: 550px;
        margin-top: 5%;
    }

    .scaltimgcartoon7Login {
        position: relative;
        width: 150px;
        transform: translate(-500%, 20%);
    }

    .wrapperReset .title-text {
        display: flex;
        width: 200%;
    }

    .wrapperReset .title {
        width: 50%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapperReset .slide-controls {
        height: 50px;
        width: 100%;
        overflow: hidden;
        margin: 5px 0 10px 0;
    }

    .textTitle {
        width: 80%;
        font-size: 17px;
        font-weight: 400;
        margin: 5px 0 2px 0;
        margin-left: 10%;
    }

    .textinput {
        margin: 5px 0 33px 0;
    }

    .textFrame {
        border-radius: 30px;
        width: 85%;
        height: 40px;
        margin-left: 7%;
    }

    .form-innerReset form .fieldReset input {
        height: 80%;
        width: 72%;
        font-size: 20px;
    }

    .form-innerReset form .fieldDataWitdraw input {
        height: 80%;
        width: 70%;
        font-size: 20px;
    }

    .form-innerReset form .fieldReset input::placeholder {
        color: #ff00ff;
        transition: all 0.3s ease;
    }

    form .btnsubmit input[type="submit"] {
        height: 70%;
        font-size: 20px;
        width: 86%;
        margin-top: 2%;
    }

    .main-AddWitdrawPromo {
        min-height: 140vw;
    }

    .form-innerReset form .Witdraw-link {
        margin-top: 5px;
    }

    .displayFooterWitdraw {
        display: none;
    }

    .scaltimgWitdraw {
        width: 50%;
        top: 39%;
        right: 37%;
        z-index: 10;
        display: none;
    }

    .WitdrawimgShadowCircleI {
        width: 20%;
        position: absolute;
        bottom: 67%;
        left: 80%;
        z-index: 3;
    }

    .WitdrawimgShadowCircleII {
        width: 40%;
        bottom: 50%;
        left: 0%;
        z-index: 3;
    }

    .WitdrawimgShadowCircleVI {
        width: 20%;
        bottom: 15%;
        left: 80%;
        z-index: 3;
        display: block;
    }

    .WitdrawimgShadowCircleV {
        width: 25%;
        bottom: 8%;
        left: 0%;
        z-index: 3;
        display: block;
    }

    .scaltimgWitdrawCircleIII {
        width: 22%;
        top: 38%;
        left: 75%;
        display: block;
    }

    .scaltimgWitdrawCircleIIII {
        width: 20%;
        top: 8%;
        left: 0%;
        z-index: 4;
    }

    .scaltimgWitdraw {
        width: 90%;
        scale: 30%;
        top: 36%;
        right: 35%;
        z-index: 10;
        display: none;
    }

    .input-iconReset {
        left: 18%;
        top: 44%;
    }

    .buttonCopy {
        height: 80%;
        font-size: 15px;
        width: 10%;
        margin-left: auto;
        right: 14%;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .wrapperReset {
        width: 100%;
        height: 500px;
        margin-top: 28%;
    }

    .textFrameReset {
        width: 85%;
        height: 40px;
        margin-top: 5%;
    }

    .textTitleReset {
        margin-left: 12%;
    }

    .textinputWitdraw {
        margin: 5px 0 35px 0;
    }

    .colorFontWindarw{
        font-size: 20px;
    }
    
    .colorFontReset{
        font-size: 20px;
    }

    .slide-controls .slider-tab {
        display: block;
    }

    .slide-controls label.signup {
        display: block;
    }

    .imgWayWitdraw {
        width: 100px;
    }


    .form-innerReset form .fieldReset input {
        height: 80%;
        width: 92%;
        font-size: 22px;
    }

    .form-innerReset form .fieldDataWitdraw input {
        height: 80%;
        width: 85%;
        font-size: 16px;
    }
    .form-innerReset form  input {
        height: 80%;
        width: 85%;
        border-radius: 10px;
    }
    

    form .btnsubmitWitdraw input[type="submit"] {
        height: 100%;
        font-size: 20px;
        width: 80%;
        z-index: 2;
        color: #ffffff;
        background: -webkit-linear-gradient(right, #0148a5, #135199, #1e8cf3, #00b1e7);
        margin-top: 5%;
        box-shadow: 5px 0.2px 9px black;
        border-radius: 10px;
    }

    .scaltimgWitdraw {
        width: 100%;
        top: 39%;
        right: 0%;
        z-index: 10;
        display: none;
    }

    .WitdrawimgShadowCircleI {
        width: 25%;
        bottom: 72%;
        left: 75%;
        z-index: 3;
    }

    .WitdrawimgShadowCircleII {
        width: 40%;
        bottom: 63%;
        left: 0%;
        z-index: 3;
    }

    .WitdrawimgShadowCircleVI {
        width: 20%;
        bottom: 34%;
        left: 80%;
        z-index: 3;
        display: block;
    }

    .WitdrawimgShadowCircleV {
        width: 25%;
        bottom: 48%;
        left: 0%;
        z-index: 3;
        display: none;
    }

    .scaltimgWitdrawCircleIII {
        width: 30%;
        top: 40%;
        left: 68%;
        display: none;
    }

    .scaltimgWitdrawCircleIIII {
        display: none;
    }

    .scaltimgWitdrawCircleVI {
        display: none;
    }

    .scaltimgWitdraw {
        width: 90%;
        scale: 30%;
        top: 36%;
        right: 35%;
        z-index: 10;
        display: none;
    }
    .input-iconReset {
        position: absolute;
        left: 10%;
        top: 40%;
        font-size: 30px;
        transform: translateY(-50%);
        color: #ffffffbe;
        z-index: 10;
    }

    .main-AddWitdraw {
        min-height: 140vw;
    }
    .title-textReset {
        font-size: 30px; 
    }
}

@media only screen and (max-width: 300px) {

    .wrapperReset {
        width: 90%;
        height: 100%;
        margin-top: 40%;
    }

    .textTitle {
        width: 80%;
        font-size: 15px;
        font-weight: 400;
        margin: 5px 0 2px 0;
        margin: auto;
    }

    .title-textReset {
        font-size: 17px;
        color: #ffffff;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .form-innerReset form .fieldDataWitdraw input {
        height: 80%;
        width: 90%;
        padding-left: 10px;
        border-radius: 15px;
        border-bottom-width: 2px;
        font-size: 18px;
        margin: auto;
    }

    .input-iconRegister {
        position: absolute;
        left: 1%;
        top: 50%;
        font-size: 30px;
        transform: translateY(-50%);
        color: #5d0972be;
        z-index: 10;
    }

    .buttonCopy {
        height: 80%;
        font-size: 15px;
        width: 15%;
        right: 10px;
    }
}