.imgWaymonterHomeI {
    position: absolute;
    width: 10%;
    bottom: 36%;
    right: 0%;
    z-index: 4;
    object-fit: contain;
    pointer-events: none;
}

.imgWaymonterHomeII {
    position: absolute;
    width: 12%;
    bottom: 42%;
    left: 0%;
    z-index: 4;
    object-fit: contain;
    pointer-events: none;
}

/*----------------------------------------------*/
.imgWaymonterHomeIII {
    position: absolute;
    width: 8%;
    top: 3%;
    left: 0%;
    z-index: 4;
    object-fit: contain;
    display: block;
    pointer-events: none;
}

.imgWaymonterHomeIIIC {
    width: 12%;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 78%;
    right: 0%;
    z-index: 0;
    display: block;
}

.imgWaymonterHomeIIIIC {
    width: 14%;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 62%;
    left: 0%;
    z-index: 0;
    display: block;
}

.imgWaymonterHomeVC {
    width: 14%;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 81%;
    right: 0%;
    z-index: 0;
    display: block;
}


@media (max-width: 500px) {

    /*----------------------------------------------*/
    .imgWaymonterHomeI {
        position: absolute;
        width: 14%;
        bottom: 65.2%;
        right: 0%;
        z-index: 4;
        object-fit: contain;
        pointer-events: none;
    }

    .imgWaymonterHomeII {
        position: absolute;
        width: 11%;
        bottom: 89%;
        left: 0%;
        z-index: 4;
        object-fit: contain;
        pointer-events: none;
    }

    .imgWaymonterHomeIII {
        display: none;
    }

    .imgWaymonterHomeIIIC {
        width: 22%;
        bottom: 82%;
        right: 30%;
        z-index: -1;
        display: block;
    }


    .imgWaymonterHomeIIIIC {
        width: 28%;
        bottom: 27%;
        left: 80%;
        z-index: -1;
        display: block;
    }
}

@media screen and (max-width: 500px) {

    /*----------------------------------------------*/
    .imgWaymonterHomeI {
        position: absolute;
        width: 14%;
        bottom: 65.2%;
        right: 0%;
        z-index: 4;
        object-fit: contain;
        pointer-events: none;
    }

    .imgWaymonterHomeII {
        position: absolute;
        width: 11%;
        bottom: 89%;
        left: 0%;
        z-index: 4;
        object-fit: contain;
        pointer-events: none;
    }

    .imgWaymonterHomeIII {
        display: none;
    }

    .imgWaymonterHomeIIIC {
        width: 22%;
        bottom: 82%;
        right: 30%;
        z-index: -1;
        display: block;
    }


    .imgWaymonterHomeIIIIC {
        width: 28%;
        bottom: 27%;
        left: 80%;
        z-index: -1;
        display: block;
    }
}

@media screen and (max-width: 385px) {

    /*----------------------------------------------*/
    .imgWaymonterHomeI {
        position: absolute;
        width: 14%;
        bottom: 65.2%;
        right: 0%;
        z-index: 4;
        object-fit: contain;
        pointer-events: none;
    }

    .imgWaymonterHomeII {
        position: absolute;
        width: 11%;
        bottom: 87%;
        left: 0%;
        z-index: 4;
        object-fit: contain;
        pointer-events: none;
    }

    .imgWaymonterHomeIII {
        display: none;
    }

    .imgWaymonterHomeIIIC {
        width: 22%;
        bottom: 82%;
        right: 30%;
        z-index: -1;
        display: block;
    }


    .imgWaymonterHomeIIIIC {
        width: 28%;
        bottom: 27%;
        left: 80%;
        z-index: -1;
        display: block;
    }
}