/* Modal */
.overlayLogin {
    background-color: rgba(0, 0, 0, 0.733);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: pan-y;
    touch-action: pan-x;
}

.modalContainerLogin {
    width: 50%;
    margin: 20% auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* transform: translate(0%, -50%); */
    display: flex;
    background-color: #560499;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    position: relative;
}


.imgLogin {
    position: absolute;
    transform: translate(0rem, -14rem);
    width: 250px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 21;
}

.modalRightLogin {
    width: 100%;
}

.closeBtnLogin {
    position: fixed;
    top: 8px;
    right: 8px;
}

.contentLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
}

.btnContainerLogin {
    display: flex;
    padding: 1rem 1rem;
}

.btnContainerLogin button {
    width: 100%;
    margin: .5rem;
    padding: 16px 0;
    /* border: none; */
    border: 1px solid #411b57;
    /* color: #ffffff; */
}

.btnPrimaryLogin {
    border-radius: 15px;
    background: -webkit-linear-gradient(right, #133869, #135199, #1e8cf3, #00b1e7);
    color: white;
}

.btnOutlineLogin {
    /* background-color: #a76a99; */
    background-color: white;
    color: #411b57;
}

.boldLogin {
    font-weight: 600;
}

.titleDialogLogin {
    font-size: 30px;
    color: crimson;
}

.detailDialogLogin {
    font-size: 20px;
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 1024px) {

    .overlayLogin {
        width: 100%;
        height: 100%
    }

    .modalContainerLogin {
        width: 80%;
        height: 55vh;
        margin: 30% auto;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .imgLogin {
        width: 30%;
        max-height: 150vh;
    }

    .headingLogin {
        margin: 1rem;
    }

    .btnPrimaryLogin {
        font-size: 20px;
    }

    .titleDialogLogin {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {

    .overlayLogin {
        width: 100%;
        height: 100%
    }

    .modalContainerLogin {
        width: 80%;
        height: 55vh;
        margin: 50% auto;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .imgLogin {
        width: 40%;
        max-height: 150vh;
    }

    .headingLogin {
        margin: 1rem;
    }

    .btnPrimaryLogin {
        font-size: 20px;
    }

    .titleDialogLogin {
        font-size: 25px;
    }
}

@media only screen and (max-width: 280px) {
    .titleDialogLogin {
        position: absolute;
        font-size: 19px;
        color: crimson;
        top: 1%;
        left: 1%;
    }

    .detailDialogLogin {
        font-size: 18px;
        margin-top: 90%;
        left: 1%;
        color: rgb(255, 255, 255);
    }
    
    .btnContainerLogin button {
        width: 100%;
        margin: .5rem;
        scale: 70%;
        margin-top: -20%;
    }
    
    .imgLogin {
        position: absolute;
        transform: translate(0rem, -1.2rem);
        width: 100px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        z-index: 21;
    }

  }