@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@font-face {
    font-family: Mitr;
    src: url(../../font/Mitr/Mitr-Regular.ttf);
}

.font {
    font-family: Mitr;
}

::selection {
    background: #fa4299;
    color: #fff;
}

.displayFooterLogin {
    position: absolute;
    display: block;
    z-index: 5;
}

.main-Login {
    min-width: 100vw;
    overflow-x: hidden;
}

.wrapperLogin {
    overflow: hidden;
    max-width: 1800px;
    max-height: 1800px;
    width: 50%;
    height: 50rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background: #ffffff;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 10rem auto;
    position: relative;
    margin-top: 2%;
}

.wrapperLogin .title-textLogin {
    display: flex;
    width: 200%;
}

.wrapperLogin .titleLogin {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapperLogin .slide-controlsLogin {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 5px 0 10px 0;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
}

.textTitleLogin {
    width: 80%;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    color: #930bbd;
    margin: 5px 0 10px 0;
    margin-left: 15%;
}

.textinputLogin {
    margin: 5px 0 50px 0;
}


.form-innerLogin form .fieldLogin input::placeholder {
    color: #ff00ff;
    transition: all 0.3s ease;
}


.textFrameLogin {
    background-color: #930bbd;
    border-radius: 30px;
    width: 40%;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}

.title-textLogin {
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.slide-controlsLogin .slideLogin {
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controlsLogin label.signup {
    color: #000;
    display: none;
}

.slide-controlsLogin .slider-tabLogin {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: none;
}

input[type="radio"] {
    display: none;
}

#signup:checked~.slider-tab {
    left: 50%;
}

#signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked~label.login {
    color: #ffffff;
}

#login:checked~label.signup {
    color: #000;
}

#login:checked~label.login {
    cursor: default;
    user-select: none;
}

.wrapperLogin .form-containerLogin {
    width: 100%;
    overflow: hidden;
}

.form-containerLogin .form-innerLogin {
    display: flex;
    width: 200%;
}

.form-containerLogin .form-innerLogin form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.form-innerLogin form .fieldLogin {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.form-innerLogin form .fieldLogin input {
    height: 100%;
    width: 60%;
    outline: none;
    padding-left: 15px;
    border-radius: 20px;
    border-bottom-width: 2px;
    border: 3px solid rgb(175, 23, 206);
    font-size: 30px;
    text-align: center;
    transition: all 0.3s ease;
    color: rgb(126, 16, 160);
}


.form-innerLogin form .fieldDataLogin {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.form-innerLogin form .fieldDataLogin input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border-bottom-width: 2px;
    font-size: 30px;
    text-align: center;
    transition: all 0.3s ease;
    background: -webkit-linear-gradient(left, #930bbd, #b31de0, #c244e9, #be3ee6);
    box-shadow: 5px 0.2px 9px black;
    color: white;
}

.form-innerLogin form .fieldDataLogin input:focus {
    border-color: #fc83bb;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-innerLogin form .fieldDataLogin input::placeholder {
    color: #ffffff;
    transition: all 0.3s ease;
}

form .fieldDataLogin input:focus::placeholder {
    color: #ffffff;
}

.form-innerLogin form .pass-link {
    margin-top: 5px;
    text-align: center;
}

.form-innerLogin form .Login-link {
    text-align: center;
    margin-top: 30px;
}

.form-innerLogin form .pass-link a,
.form-innerLogin form .Login-link a {
    color: #fa4299;
    text-decoration: none;
}

.form-innerLogin form .pass-link a:hover,
.form-innerLogin form .Login-link a:hover {
    text-decoration: underline;
}

form .btn {
    top: 10px;
    height: 10px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layerLogin {
    height: 210%;
    width: 0%;
    position: absolute;
    left: -100%;

    border-radius: 10px;
    transition: all 0.4s ease;
}

form .btn:hover .btn-layerLogin {
    left: 0;
}

form .btnsubmitLogin input[type="submit"] {
    height: 90%;
    font-size: 20px;
    width: 60%;
    z-index: 2;
    color: #ffffff;
    background: -webkit-linear-gradient(right, #1218FF , #0AB3FF);
    margin-top: 2%;
    box-shadow: 5px 0.2px 9px black;
}


.iconLogin {
    position: absolute;
    transform: translate(40%, 50%);
    font-size: 30px;
    color: #ffffff;
    pointer-events: none;
}

.input-containerLogin {
    position: relative;
}

.input-with-iconLogin {
    padding-left: 40px;
    /* Add space for the icon */
}

.wrapInput {
    position: relative;
    max-width: 70%;
    height: 50px;
    margin: auto;
}

.input-iconLogin {
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
    color: #aaa;
    color: #5d0972be;
    z-index: 10;
}

.imgWayLogin {
    width: 500px;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);  
    border-radius: 50%;
    overflow: hidden;
    
    bottom: 78%;
    right: 0%;
    z-index: 0;
    display: block;
}

.imgWaymonterLoginIIIC{
    width: 12%;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 65%;
    right: 18%;
    z-index: 4;
    display: block;
}
.imgWaymonterLoginIII{
    width: 8%;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 30%;
    left: 10%;
    z-index: 4;
    display: block;
}
.imgWaymonterLoginII{
    width: 15%;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 12%;
    right: 10%;
    z-index: 4;
    display: block;
}

.imgWaymonterLoginI{
    width: 15%;
    box-shadow: 1px 22px 25px rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 45%;
    left: 15%;
    z-index: 2;
    display: block;
}

.scaltimgLogin {
    position: absolute;
    width: 50%;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    object-fit: contain;
    pointer-events: none;
}

.scaltimgLoginCircleI {
    position: absolute;
    width: 10%;
    bottom: 20%;
    left: 70%;
    z-index: 4;
    object-fit: contain;
}

.scaltimgLoginCircleII {
    position: absolute;
    width: 51%;
    scale: 30%;
    bottom: 10%;
    right: 50%;
    z-index: 3;
    object-fit: contain;
}

.scaltimgLoginCircleIII {
    position: absolute;
    width: 20%;
    top: 5%;
    right: 10%;
    z-index: 4;
    object-fit: contain;
}

.scaltimgLoginCircleIIII {
    position: absolute;
    width: 35%;
    scale: 30%;
    bottom: 10%;
    right: 55%;
    z-index: 4;
    display: block;
    object-fit: contain;
}

.scaltimgLoginCircleV {
    position: absolute;
    width: 52%;
    scale: 10%;
    top: 5%;
    right: 60%;
    z-index: 4;
    display: block;
    object-fit: contain;
}

.scaltimgLoginCircleVI {
    position: absolute;
    width: 52%;
    scale: 30%;
    top: 50%;
    left: 60%;
    z-index: 1;
    display: block;
    object-fit: contain;
}


@media (max-width: 1024px) {
    input {
        font-size: 14px;
    }
    .main-Login {
        min-height: 85vw;
    }
    .wrapperLogin {
        width: 70%;
        height: 40rem;
        z-index: 4;
        background: #ffffff;
        padding: 10px;
        margin-top: 25%;
    }
    
    .wrapperLogin.title-text {
        display: flex;
        width: 100%;
    }

    .wrapperLogin .title {
        width: 100%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapperLogin .slide-controls {
        height: 100px;
        width: 100%;
        overflow: hidden;
        margin: 5px 0 10px 0;
    }

    .textTitleLogin {
        width: 100%;
        font-size: 17px;
        font-weight: 400;
        margin: 5px 0 2px 0;
        margin-left: 10%;
    }

    .textinputLogin {
        margin: 5px 0 33px 0;
    }

    .textFrameLogin {
        border-radius: 30px;
        width: 70%;
        height: 40px;
    }
    
    .input-iconLogin {
        left: 20px;
        top: 40%;
        font-size: 30px;
        transform: translateY(-50%);
    }

    .form-innerLogin form .fieldLogin input {
        height: 80%;
        width: 90%;
        font-size: 20px;
    }

    .form-innerLogin form .fieldDataLogin input {
        height: 80%;
        width: 100%;
        font-size: 20px;
    }

    .form-innerLogin form .fieldLogin input::placeholder {
        color: #ff00ff;
        transition: all 0.3s ease;
    }

    form .btnsubmitLogin input[type="submit"] {
        height: 70%;
        font-size: 20px;
        width: 75%;
        margin-top: 2%;
    }

    .form-innerLogin form .Login-link {
        margin-top: 5px;
    }

    .displayFooterLogin {
        display: none;
    }

    .scaltimgLogin {
        width: 100%;
        top: 42%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .scaltimgLoginCircleI {
        width: 30%;
        bottom: 20%;
        left: 70%;
        z-index: 3;
    }
    
    .scaltimgLoginCircleII {
        width: 100%;
        bottom: 10%;
        right: 30%;
        z-index: 3;
    }
    
    .scaltimgLoginCircleIII {
        width: 25%;
        top: 0%;
        left: 75%;
        z-index: 4;
    }
    
    .scaltimgLoginCircleIIII {
        width: 50%;
        bottom: 10%;
        right: 60%;
        z-index: 4;
    }
    
    .scaltimgLoginCircleV {
        position: absolute;
        width: 70%;
        top: 5%;
        right: 50%;
        z-index: 4;
    }
}

/* Responsive Styles */
@media (max-width: 760px) {
    input {
        font-size: 14px;
    }
    .wrapperLogin {
        width: 80%;
        height: 35rem;
        z-index: 4;
        background: #ffffff;
        padding: 10px;
        margin-top: 35%;
    }
    .main-Login {
        overflow-x: hidden;
        align-items: center;
        min-height: 130vw;
    }
    .wrapperLogin.title-text {
        display: flex;
        width: 100%;
    }
    
    .wrapperLogin .title {
        width: 100%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapperLogin .slide-controls {
        height: 50px;
        width: 100%;
        overflow: hidden;
        margin: 5px 0 10px 0;
    }

    .textTitleLogin {
        width: 100%;
        font-size: 17px;
        font-weight: 400;
        margin: 5px 0 2px 0;
        margin-left: 10%;
    }

    .textinputLogin {
        margin: 5px 0 33px 0;
    }

    .textFrameLogin {
        border-radius: 30px;
        width: 85%;
        height: 40px;
        margin: auto;
    }
    .form-innerLogin form .fieldLogin input {
        height: 80%;
        width: 100%;
        font-size: 20px;
    }

    .form-innerLogin form .fieldDataLogin input {
        height: 80%;
        width: 100%;
        font-size: 20px;
    }

    .form-innerLogin form .fieldLogin input::placeholder {
        color: #ff00ff;
        transition: all 0.3s ease;
    }

    form .btnsubmitLogin input[type="submit"] {
        height: 70%;
        font-size: 20px;
        width: 86%;
        margin-top: 2%;
    }

    .form-innerLogin form .Login-link {
        margin-top: 5px;
    }

    .displayFooterLogin {
        display: none;
    }

    .imgWaymonterLoginIIIC{
        width: 15%;
        bottom: 80%;
        right: 0%;
    }

    .imgWaymonterLoginIII{
        display: none;
    }

    .imgWaymonterLoginI{
        width: 30%;
        bottom: 45%;
        left: 0%;
        display: block;
    }

    .scaltimgLogin {
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .scaltimgLoginCircleI {
        width: 30%;
        bottom: 20%;
        left: 70%;
        z-index: 3;
    }
    
    .scaltimgLoginCircleII {
        width: 100%;
        bottom: 10%;
        right: 30%;
        z-index: 3;
    }
    
    .scaltimgLoginCircleIII {
        width: 25%;
        top: 10%;
        left: 70%;
        z-index: 4;
    }
    
    .scaltimgLoginCircleIIII {
        width: 50%;
        bottom: 30%;
        right: 50%;
        z-index: 4;
    }
    
    .scaltimgLoginCircleV {
        position: absolute;
        width: 70%;
        right: 50%;
        z-index: 4;
        display: none;
    }
    .scaltimgLoginCircleVI {
        position: absolute;
        width: 52%;
        scale: 30%;
        top: 0%;
        left: 60%;
    }
}

@media (max-width: 500px) {
    .wrapperLogin {
        width: 350px;
        height: 10%;
        margin-top: 30%;
    }
    .main-Login {
        min-height: 180vw;
    }
    .form-innerLogin form .fieldLogin input {
        height: 80%;
        width: 100%;
        font-size: 20px;
    }

    .form-innerLogin form .fieldDataLogin input {
        height: 80%;
        width: 80%;
        font-size: 20px;
    }

    .slide-controlsLogin .slider-tabLogin {
        display: block;
    }

    .slide-controlsLogin label.signup {
        display: block;
    }

    form .btnsubmitLogin input[type="submit"] {
        height: 70%;
        font-size: 20px;
        width: 75%;
        margin-top: 2%;
    }
    .imgWayLogin {
        width: 100px;
    }

    .scaltimgLogin {
        width: 100%;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
    }

    .scaltimgLoginCircleI {
        width: 50%;
        bottom: 8%;
        left: 40%;
        z-index: 3;
    }

    .scaltimgLoginCircleII {
        width: 100%;
        top: 30%;
        right: 40%;
        z-index: 3;
    }

    .scaltimgLoginCircleIII {
        width: 100%;
        top: 20%;
        left: 37%;
        z-index: 4;
        display: none;
    }

    .scaltimgLoginCircleIIII {
        display: none;
    }

    .scaltimgLoginCircleV {
        display: none;
    }

    .scaltimgLoginCircleVI {
        display: none;
    }

    .input-iconLogin {
        left: 50px;
        top: 40%;
        font-size: 30px;
        transform: translateY(-50%);
    }

    .wrapInput {
        max-width: 100%;
        height: 50px;
    }
}

@media only screen and (max-width: 390px) {
    input {
        font-size: 14px;
    }
    .main-Login {
        min-height: 120vw;
    }
    .wrapperLogin {
        width: 90%;
        height: 39rem;
        z-index: 4;
        background: #ffffff;
        margin-top: 30%;
    }
    
    .wrapperLogin.title-text {
        display: flex;
        width: 100%;
    }

    .wrapperLogin .title {
        width: 100%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapperLogin .slide-controls {
        height: 100px;
        width: 100%;
        overflow: hidden;
        margin: 5px 0 10px 0;
    }

    .textinputLogin {
        margin: 5px 0 33px 0;
    }

    .textFrameLogin {
        border-radius: 30px;
        width: 90%;
        height: 40px;
        margin: auto;
    }
    
    .input-iconLogin {
        left: 20px;
        top: 40%;
        font-size: 30px;
        transform: translateY(-50%);
    }

    .form-innerLogin form .fieldLogin input {
        height: 80%;
        width: 90%;
        font-size: 20px;
    }

    .form-innerLogin form .fieldDataLogin input {
        height: 80%;
        width: 90%;
        font-size: 20px;
    }

    .form-innerLogin form .fieldLogin input::placeholder {
        color: #ff00ff;
        transition: all 0.3s ease;
    }

    form .btnsubmitLogin input[type="submit"] {
        height: 70%;
        font-size: 20px;
        width: 90%;
        margin-top: 2%;
    }

    .main-Login {
        min-height: 0vw;
    }

    .form-innerLogin form .Login-link {
        margin-top: 5px;
    }

    .displayFooterLogin {
        display: none;
    }

    .scaltimgLogin {
        width: 100%;
        top: 58%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .scaltimgLoginCircleI {
        width: 30%;
        bottom: 20%;
        left: 70%;
        z-index: 3;
    }
    
    .scaltimgLoginCircleII {
        width: 100%;
        bottom: 10%;
        right: 30%;
        z-index: 3;
    }
    
    .scaltimgLoginCircleIII {
        width: 25%;
        top: 0%;
        left: 75%;
        z-index: 4;
    }
    
    .scaltimgLoginCircleIIII {
        width: 50%;
        bottom: 10%;
        right: 60%;
        z-index: 4;
    }
    
    .scaltimgLoginCircleV {
        position: absolute;
        width: 70%;
        top: 5%;
        right: 50%;
        z-index: 4;
    }
}