* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------------------------*/

@font-face {
  font-family: Mitr;
  src: url(../../font/Mitr/Mitr-Regular.ttf);
}

.main-content {
  position: relative;
}

.topHome {
  position: relative;
}

.font {
  font-family: Mitr;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}


a,
a:visited {
  color: #000000;
}

/* Modal */
.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 12;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #333333;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

img {
  width: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}

.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.bold {
  font-weight: 600;
}


.headerclass {
  position: fixed;
  z-index: 5;
}

.TopDown {
  width: 100%;
}

.download-bannerAbs {
  max-width: 100%;
  width: 1000rem;
  border-radius: 0%;
  object-fit: cover;
}

.a-davPC {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 5%;
}

.a-davPC img {
  width: 100%;
  display: block;
}

.a-davMB {
  display: none;
}

.image-grid {
  position: absolute;
  top: 34%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: repeat(4, 50%);
  gap: 0;
  transition: .4s ease-in;
}

.image-grid button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: calc(100% - 10px);

}

.image-grid img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.fontsize {
  font-size: 20px;
}

.imgCardAbs1:hover {
  box-shadow: 0px 0px 5px rgb(248, 141, 1), 0px 0px 25px rgb(248, 141, 1), 0px 0px 60px 10px rgb(248, 141, 1);
}

.imgCardAbs2:hover {
  box-shadow: 0px 0px 5px rgb(163, 163, 163), 0px 0px 25px rgb(163, 163, 163), 0px 0px 60px 10px rgb(163, 163, 163);
}

.imgCardAbs3:hover {
  box-shadow: 0px 0px 5px burlywood, 0px 0px 25px burlywood, 0px 0px 60px 10px burlywood;
}

.imgCardAbs4:hover {
  box-shadow: 0px 0px 5px rgb(138, 13, 255), 0px 0px 25px rgb(138, 13, 255), 0px 0px 60px 10px rgb(138, 13, 255);
}

.custom-btn {
  max-width: 100%;
  width: 50%;
  height: 60px;
  color: #fff;
  border-radius: 5px;
  padding: 5px 4px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  font-size: 25px;
}

.btn-13 {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #f700ff 10%, #8000ca 74%);
  border: none;
  z-index: 1;
}

.btn-14 {
  background-color: #0099ff;
  background-image: linear-gradient(325deg, #110dff 10%, #1482dd 70%);
  border: none;
  z-index: 1;
}

.textButton{
  -webkit-text-stroke: 1px #420079;
  color: #ffb320;
  text-shadow:
    3px 3px 0 #420079,
    -1px -1px 0 #420079,
    1px -1px 0 #420079,
    -1px 1px 0 #420079,
    1px 1px 0 #420079;
  
  margin-left: 12%;
}

.btn-13:hover {
  color: #fff;
}

.btn-14:hover {
  color: #fff;
}

.control-btn {
  max-width: 1700px;
  /* transform: translate(0%, -230px); */
  display: none;
}

.control-promo {
  margin-top: 1%;
  display: none;
}

.controlLogo {
  width: 220px;
}

.controlLogoII {
  width: 220px;
}

.controlLogoLogin {
  width: 200px;
}

.topNavBar-linkMB {
  margin-left: 0%;
}

.headers-right {
  margin-left: -10%;
}

.topBarDiv {
  width: 100%;
  height: 70%;
  background: #340070;
  touch-action: pan-y;
  touch-action: pan-x;
  overflow-x: hidden;
  overflow-y: hidden;
}

.marginWeb {
  position: relative;
}

/*-----------------------------------------------------------------------------------*/
.bottom-nav {
  display: none;
  justify-content: space-around;
  background: linear-gradient(to bottom, #b516ff, #4f0a77);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 36%;
  padding: 25px;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  padding: 700px 11px;
}

.nav-item:hover {
  background-color: #ffffff;
}

/*-----------------------------------------------------------------------------------*/
.controlHeaders {
  float: right;
  font-weight: 200;
  padding: 8px 30px;
  border-radius: 30px;
  display: block;
  margin-top: 9px;
  transform: translateX(-5%);
  font-size: 18px;
  border: 2px solid #b516ff;
}

.user-panelthai{
  float: right;
  width: 40px;
  font-weight: 200;
  border-radius: 50%;
  display: block;
  margin-top: 9px;
  transform: translateY(-2%);
  font-size: 18px;
  border: 5px solid rgb(155, 0, 194);
  margin-right: 1%;
}

.marginData{
  margin-right: 10px;
}
/*---------------------------------------------------------------------------------------*/
/* .news-container */
.news-container {
  position: relative;
  overflow: hidden;
  max-width: 2000px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #b516ff, #4f0a77);
  border-bottom: 1px solid #ffb320;
  z-index: 5;
}

.text-container {
  max-width: 200px;
  position: absolute;
  background: #df2020;
  border-right: 1px solid #ffb320;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 24px;
  color: rgb(255, 248, 248);
  font-weight: bold;
  z-index: 1;
}

.title {
  text-align: right;
}

/* .news-container .uL */
.news-container .uL {
  display: flex;
  list-style: none;
  margin: 0;
  white-space: nowrap;
  text-transform: uppercase;
  animation: move-rtl 40s linear infinite;
}

/* .news-container .uL .LII */
.news-container .uL .LII {
  white-space: nowrap;
  padding: 10px 24px;
  color: white;
  position: relative;
}

/* .news-container .uL .LII::after */
.news-container .uL .LII::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}

/* .news-container .uL .LII:last-child::after */
.news-container .uL .LII:last-child::after {
  display: none;
}

/* .nt-item */
.nt-item {
  color: #fff;
}

/* .nt-item span */
.nt-item span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 4px 20px;
}

/* .nt-item span.new */
.nt-item span.new {
  background: #ff205f;
}

/* .nt-item span.strategy */
.nt-item span.strategy {
  background: #4eae60;
}

/* .nt-item span.racing */
.nt-item span.racing {
  background: #694eae;
}

/* Keyframes for responsive animation */
@keyframes move-rtl {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/*---------------------------------------------------------------------------------------*/
.cartoonAnnounce {
  width: 80%;
  position: absolute;
  right: 2%;
}

.imgButton {
  width: 50%;
  position: absolute;
  object-fit: contain;
  bottom: 0%;
  transform: translateX(-70%);
}

/*---------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  .main-content {
    padding-top: 0px;
  }

  .controlHeaders {
    margin-top: 0px;
  }

  .user-panelthai{
    width: 40px;
    display: block;
    transform: translateY(-20%);
    margin-right: 3%;
  }
}

@media screen and (max-width: 800px) {
  .news-container .uL .LII {
    padding: 10px 0;
    text-align: center;
  }

  .text-container {
    width: 25%;
  }

  .news-container {
    width: 100%;
    height: 8%;
    top: 0;
    left: 0;
    right: 0;
  }

  .news-container .uL .LII {
    font-size: 16px;
  }

  .nt-item span {
    font-size: 10px;
    font-weight: 100;
    padding: 3px 12px;
  }

  .main-content {
    padding-top: 86.13px;
  }

  .control-btn {
    display: block;
  }

  .control-promo {
    display: block;
    object-fit: contain;
  }

  .cartoonAnnounce {
    width: 70%;
    position: absolute;
    right: 2%;
  }
}

@media screen and (max-width: 490px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }

  .controlLogo {
    width: 200px;
    position: fixed;
    margin-left: 7%;
    margin-top: -2%;
    object-fit: contain;
  }

  .controlLogoII {
    width: 200px;
    position: fixed;
    margin-left: 25%;
    margin-top: -7%;
    object-fit: contain;
  }

  .controlLogoLogin {
    width: 350px;
    scale: 110%;
    position: fixed;
    margin-left: -1%;
    z-index: 10;
  }

  .controlHeaders {
    transform: translateX(-10%);
    float: right;
    font-weight: 200;
    padding: 8px 25px;
    border-radius: 30px;
    margin: 0% auto;
    display: block;
    font-size: 13px;
  }

  .user-panelthai{
    float: right;
    width: 33px;
    font-weight: 200;
    border-radius: 50%;
    display: block;
    margin-top: 9px;
    transform: translateY(-30%);
    margin-right: 3%;
    border: 2px solid #b516ff;
  }

  .marginData{
    margin-right: -5px;
  }
  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .topBarDiv {
    width: 90%;
    height: 90%;
  }

  .heading {
    margin: 1rem;
  }

  .download-bannerAbs {
    width: 100%;
    object-fit: contain;
    margin-top: 15%;
  }

  .topNavBar-linkMB {
    margin-left: -20%;
    transform: translate(0%, 30%);
  }

  .bottom-nav {
    display: none;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
  }

  .nav-item {
    color: #fff;
    text-decoration: none;
    padding: 300px 11px;
  }

  .a-davPC {
    display: none;
  }

  .a-davMB {
    display: block;
  }

  .control-btn {
    display: block;
  }

  .news-container {
    width: 100%;
    height: 3%;
    top: 0;
    left: 0;
    right: 0;
  }

  .news-container .uL .LII {
    font-size: 16px;
  }

  .nt-item span {
    font-size: 10px;
    font-weight: 100;
    padding: 3px 12px;
  }

  .image-grid {
    top: 57.5%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(4, 6%);
    gap: 0;
    transition: 0.4s ease-in;
  }

  .image-grid img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
  }

  .cartoonAnnounce {
    width: 100%;
    position: absolute;
    right: 2%;
  }

  .imgButton {
    width: 20%;
    bottom: 0%;
    transform: translateX(-65%);
  }

  .control-promo {
    display: block;
    object-fit: contain;
    margin-bottom: -10%;
  }

  .marginWeb {
    margin-bottom: -5%;
  }
}

@media screen and (max-width: 414px) {

  .topNavBar-linkMB {
    margin-left: -23%;
    scale: 80%;
  }

  .bottom-nav {
    display: block;
  }
}

@media only screen and (max-width: 390px) and (max-height: 844px) {
  .TopDown {
    height: 118rem;
  }
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
  .TopDown {
    height: 1850px;
  }

  .custom-btn {
    width: 170px;
    height: 60px;
  }
}

@media only screen and (max-width: 412px) and (max-height: 915px) {
  .topNavBar-linkMB {
    margin-left: -39%;
  }
}

@media screen and (max-width: 360px) and (min-height: 740px) {
  .controlLogo {
    width: 200px;
    transform: translate(28%, -10%);
  }

  .topNavBar-linkMB {
    margin-left: -43%;
  }
}

@media only screen and (max-width: 390px) and (max-height: 844px) {

  .topNavBar-linkMB {
    margin-left: -21%;
    scale: 85%;
  }

  .news-container {
    width: 100%;
    height: 3%;
    top: 0;
    left: 0;
    right: 0;
  }

  .news-container .uL .LII {
    font-size: 16px;
  }

  .nt-item span {
    font-size: 10px;
    font-weight: 100;
    padding: 3px 12px;
  }

  .image-grid {
    top: 57%;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(4, 6%);
  }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
  .TopDown {
    height: 1850px;
  }

  .topNavBar-linkMB {
    margin-left: -43%;
    scale: 60%;
  }
}


@media only screen and (max-width: 400px) and (min-height: 840px) {
  .control-promo {
    width: 100%;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 1%;
    margin: auto;
  }
}

@media only screen and (max-width: 380px) {
  .main-content {
    padding-top: 70px;
  }

  .image-grid {
    top: 58%;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(4, 5%);
  }

  .fontsize {
    font-size: 14px;
  }

  .controlHeaders {
    float: right;
    font-weight: 200;
    padding: 8px 8px;
    transform: translateX(-9%);
    font-size: 10px;
    margin-top: 0%;
    display: block;
  }

  .user-panelthai{
    width: 25px;
    display: block;
    transform: translateY(-25%);
    margin-right: 3%;
  }
}