/* Modal */
.overlayMoney {
    background-color: rgba(0, 0, 0, 0.733);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: pan-y;
    touch-action: pan-x;
    z-index: 101;
}

.modalContainerMoney {
    width: 30%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #560499;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    position: relative;
}

.modalContainerMoneyImg {
    width: 35%;
    margin: -11% auto;
    position: relative;
}


.imgMoneyRes {
    width: 15%;
    margin: 5% auto;
    object-fit: contain;
}

.imgMoney {
    width: 15%;
    margin: 5% auto;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: translateY(50%);
}

.imgMoneyCartoon {
    width: 15%;
    margin: 3% auto;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: translateY(20%);
}


.imgMoneyGit {
    width: 45%;
    margin: 5% auto;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.modalRightMoney {
    width: 100%;
}

.closeBtnMoney {
    position: fixed;
    top: 8px;
    right: 8px;
}

.contentMoney {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
}

.btnContainerMoney {
    display: flex;
    padding: 1rem 1rem;
}

.btnContainerMoney button {
    width: 100%;
    margin: .5rem;
    padding: 16px 0;
    /* border: none; */
    border: 1px solid #411b57;
    /* color: #ffffff; */
}

.btnPrimaryMoney {
    border-radius: 15px;
    background: -webkit-linear-gradient(right, #133869, #135199, #1e8cf3, #00b1e7);
    color: white;
}

.btnOutlineMoney {
    /* background-color: #a76a99; */
    background-color: white;
    color: #411b57;
}

.boldMoney {
    font-weight: 600;
}

.titleDialog {
    font-size: 30px;
    color: crimson;
}

.detailDialog {
    font-size: 20px;
    color: rgb(255, 255, 255);
}


.DialogImg {
    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}


.select-menu {
    width: 380px;
    margin: 140px auto;
}

.select-menu .select-btn {
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #F2F2F2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}

/*--------------------------------------------------------------*/
.positionNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 0px 0;
    text-align: center;
    z-index: 50;
}

/*---------------------------------------------------------------*/


/* <select> styles */
select {

    border: 0;
    outline: 0;
    text-align: center;
    /* Personalize */
    width: 60%;
    height: 100%;
    font-size: 30px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(121, 0, 158);
    border-radius: 15px;
    box-shadow: 5px 0.2px 9px black;
    cursor: pointer;
    /*background: -webkit-linear-gradient(left, #930bbd, #b31de0, #c244e9, #be3ee6);*/

}

select option {
    color: inherit;
    background-color: #1218ff;
    color: rgb(255, 255, 255);
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

select .lang_menu option[value="ธนาคารไทยพาณิชย์"] {
    background-image: url(https://asset.cloudigame.co/build/admin/img/wt_theme/ezc/payment-logo-scb.png);
}

@media (max-width: 1200px) {
    select {
        width: 90%;
        height: 80%;
        font-size: 20px;
    }

    .modalContainerMoneyImg {
        width: 60%;
        margin: -7% auto;
    } 
}

@media screen and (max-width: 1024px) {

    .overlayMoney {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 12;
        text-align: center;
    }

    .modalContainerMoney {
        width: 80%;

        margin: 5% auto;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .imgMoney {
        width: 25%;
        object-fit: contain;
    }

    .headingMoney {
        margin: 1rem;
    }

    select {
        width: 90%;
        height: 80%;
        font-size: 20px;

    }

    .imgMoneyCartoon {
        width: 30%;
        margin: 3% auto;
        transform: translateY(20%);
    }

    .modalContainerMoneyImg {
        width: 55%;
        margin: -7% auto;
    } 
}

@media screen and (max-width: 500px) {

    .overlayMoney {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 12;
        text-align: center;
    }

    .modalContainerMoney {
        width: 80%;
        margin: 3% auto;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .imgMoney {
        width: 45%;
        object-fit: contain;
        transform: translateY(20%);
    }

    .headingMoney {
        margin: 1rem;
    }

    select {
        width: 90%;
        height: 80%;
        font-size: 20px;

    }

    .imgMoneyCartoon {
        width: 50%;
        margin: 5% auto;
        transform: translateY(10%);
        margin-top: auto;
    }

    .modalContainerMoneyImg {
        width: 100%;
        margin: -7% auto;
    } 

}