@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

::selection {
    background: #fa4299;
    color: #fff;
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
    font-family: Mitr;
    src: url(../../font/Mitr/Mitr-Regular.ttf);
}

.font {
    font-family: Mitr;
}

.progressBarForgot {
    background-color: #1218ff;
    border-radius: 20px;
    position: relative;
    margin: 15px auto;
    height: 30px;
    width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
}

.progressBarForgot-done {
    position: absolute;
    background-color: #0ab3ff;
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}

/*----------------------------------------------------------------------------*/
.displayFooterForgotPassword {
    position: absolute;
    display: block;
    z-index: 5;
}

.main-ForgotPassword {
    min-width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #7110af 40%, #2a0bd6 100%);
    align-items: center;
}

.wrapperForgotPassword {
    overflow: hidden;
    max-width: 1800px;
    max-height: 2000px;
    width: 50%;
    height: 59rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background: linear-gradient(to bottom, #0ab3ff 1%, #1218ff 40%);
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 10rem auto;
    position: relative;
    margin-top: 3%;
}

.wrapperForgotPassword .title-textForgotPassword {
    display: flex;
    width: 200%;
}

.wrapperForgotPassword .titleForgotPassword {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapperForgotPassword .slide-controlsForgotPassword {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 5px 0 10px 0;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
}

.textTitleForgotPassword {
    width: 80%;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    margin: 5px 0 10px 0;
    margin-left: 22%;
}


.textinputForgotPassword {
    margin: 5px 0 50px 0;
}


.form-innerForgotPassword form .fieldForgotPassword input::placeholder {
    color: #ffffff;
    transition: all 0.3s ease;
}


.textFrameForgotPassword {
    /* background-color: #930bbd; */
    border-radius: 30px;
    width: 40%;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}


.textFrameHeadersForgotPassword {
    /* background-color: #ffffff; */
    border-radius: 10px;
    width: 100%;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    display: flex;
}

.title-textForgotPassword {
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.slide-controlsForgotPassword .slideForgotPassword {
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controlsForgotPassword label.signup {
    color: #000;
    display: none;
}

.slide-controlsForgotPassword .slider-tabForgotPassword {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: none;
}

input[type="radio"] {
    display: none;
}

#signup:checked~.slider-tab {
    left: 50%;
}

#signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked~label.login {
    color: #ffffff;
}

#login:checked~label.signup {
    color: #000;
}

#login:checked~label.login {
    cursor: default;
    user-select: none;
}

.wrapperForgotPassword .form-containerForgotPassword {
    width: 100%;
    overflow: hidden;
}

.textOTP {
    margin-top: 15px;
}

.form-containerForgotPassword .form-innerForgotPassword {
    display: flex;
    width: 200%;
}

.form-containerForgotPassword .form-innerForgotPassword form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.form-innerForgotPassword form .fieldForgotPassword {
    height: 55px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.form-innerForgotPassword form .fieldForgotPasswordOTP {
    height: 55px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.form-innerForgotPassword form .fieldForgotPasswordOTP input {
    height: 100%;
    width: 60%;
    outline: none;
    padding-left: 15px;
    border-radius: 20px;
    border-bottom-width: 2px;
    border: 3px solid rgb(175, 23, 206);
    font-size: 30px;
    text-align: center;
    transition: all 0.3s ease;
    color: rgb(126, 16, 160);
}


.form-innerForgotPassword form .fieldForgotPassword input {
    height: 100%;
    width: 60%;
    outline: none;
    padding-left: 15px;
    border-radius: 20px;
    border-bottom-width: 2px;
    border: 3px solid rgb(175, 23, 206);
    font-size: 30px;
    text-align: center;
    transition: all 0.3s ease;
    color: rgb(126, 16, 160);
}


.form-innerForgotPassword form .fieldDataForgotPassword {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.form-innerForgotPassword form .fieldDataForgotPassword input {
    height: 100%;
    width: 60%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border-bottom-width: 2px;
    font-size: 30px;
    text-align: center;
    transition: all 0.3s ease;
    /* background: -webkit-linear-gradient(left, #930bbd, #b31de0, #c244e9, #be3ee6); */
    background-color: #ffffff;
    box-shadow: 5px 0.2px 9px black;
    color: #1218ff;
}

.form-innerForgotPassword form .fieldDataForgotPassword input:focus {
    border-color: #fc83bb;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-innerForgotPassword form .fieldDataForgotPassword input::placeholder {
    color: #1218ff;
    transition: all 0.3s ease;
}

form .fieldDataForgotPassword input:focus::placeholder {
    color: #1218ff;
}

.form-innerForgotPassword form .pass-link {
    margin-top: 5px;
    text-align: center;
}

.form-innerForgotPassword form .ForgotPassword-link {
    text-align: center;
    margin-top: 30px;
}

.form-innerForgotPassword form .pass-link a,
.form-innerForgotPassword form .ForgotPassword-link a {
    color: #fa4299;
    text-decoration: none;
}

.form-innerForgotPassword form .pass-link a:hover,
.form-innerForgotPassword form .ForgotPassword-link a:hover {
    text-decoration: underline;
}

form .btn {
    top: 10px;
    height: 10px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layerForgotPassword {
    height: 210%;
    width: 0%;
    position: absolute;
    left: -100%;

    border-radius: 10px;
    transition: all 0.4s ease;
}

form .btn:hover .btn-layerForgotPassword {
    left: 0;
}

form .btnsubmitForgotPassword input[type="submit"] {
    height: 90%;
    font-size: 20px;
    width: 60%;
    z-index: 2;
    color: #ffffff;
    background-color: #f431ee;
    margin-top: 2%;
    box-shadow: 5px 0.2px 9px black;
}

form .btnsubmitForgotPassword input[type="submitri"] {
    height: 100%;
    font-size: 25px;
    width: 62%;
    z-index: 2;
    color: #ffffff;
    background-color: #f431ee;
}

.wrapInputRegiter{
    position: relative;
    max-width: 100%;
    height: 50px;
    margin: auto;
}
.iconForgotPassword {
    position: absolute;
    transform: translate(40%, 50%);
    font-size: 30px;
    color: #ffffff;
    pointer-events: none;
}

.input-containerForgotPassword {
    position: relative;
}

.input-with-iconForgotPassword {
    padding-left: 40px;
    /* Add space for the icon */
}

.input-iconForgotPassword {
    position: absolute;
    left: 22%;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
    color: #5d0972be;
    z-index: 10;
}

.imgWayForgotPassword {
    width: 500px;
}

.imgWaycircleForgot {
    width: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 42%;
    display: flex;
}

.scaltimgForgotPassword {
    position: absolute;
    width: 15%;
    top: 30%;
    left: 15%;
    z-index: 4;
    object-fit: contain;
    pointer-events: none;
}

.scaltimgForgotPasswordCircleI {
    position: absolute;
    width: 15%;
    bottom: 25%;
    right: 15%;
    z-index: 4;
    object-fit: contain;
    pointer-events: none;
}

.scaltimgForgotPasswordCircleII {
    position: absolute;
    width: 15%;
    bottom: 23%;
    left: 12%;
    z-index: 3;
    object-fit: contain;
    pointer-events: none;
}

.scaltimgForgotPasswordCircleIII {
    position: absolute;
    width: 20%;
    bottom: 5%;
    right: 10%;
    z-index: 4;
    object-fit: contain;
    pointer-events: none;
}

.scaltimgForgotPasswordCircleIIII {
    position: absolute;
    width: 10%;
    bottom: 10%;
    left: 20%;
    z-index: 4;
    display: block;
    object-fit: contain;
    pointer-events: none;
}

.scaltimgForgotPasswordCircleV {
    position: absolute;
    width: 8%;
    top: 5%;
    left: 10%;
    z-index: 4;
    display: block;
    object-fit: contain;
    pointer-events: none;
}

.scaltimgForgotPasswordCircleVI {
    position: absolute;
    width: 15%;
    top: 50%;
    left: 60%;
    z-index: 1;
    display: block;
    object-fit: contain;
    pointer-events: none;
}



@media only screen and (max-width: 1024px) {
    .wrapperForgotPassword {
        width: 80%;
        height: 50rem;
        z-index: 4;
        padding: 10px;
        margin-top: 8%;
    }

    .wrapperForgotPassword.title-text {
        display: flex;
        width: 200%;
    }

    .wrapperForgotPassword .title {
        width: 100%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapperForgotPassword .slide-controls {
        height: 50px;
        width: 100%;
        overflow: hidden;
        margin: 5px 0 10px 0;
    }

    .textTitleForgotPassword {
        width: 100%;
        font-size: 17px;
        font-weight: 400;
        margin: 5px 0 2px 0;
        margin-left: 20%;
    }

    .textinputForgotPassword {
        margin: 5px 0 33px 0;
    }

    .textFrameForgotPassword {
        width: 70%;
        height: 40px;
    }

    .form-innerForgotPassword form .fieldForgotPassword input {
        height: 80%;
        width: 90%;
        font-size: 20px;
    }

    .form-innerForgotPassword form .fieldForgotPasswordOTP {
        height: 55px;
        width: 100%;
        margin-top: 0px;
        font-size: 25px;
    }

    .form-innerForgotPassword form .fieldForgotPasswordOTP input {
        height: 100%;
        width: 60%;
    }

    .form-innerForgotPassword form .fieldDataForgotPassword input {
        height: 80%;
        width: 70%;
        font-size: 20px;
    }

    .form-innerForgotPassword form .fieldForgotPassword input::placeholder {
        color: #ff00ff;
        transition: all 0.3s ease;
    }

    form .btnsubmitForgotPassword input[type="submit"] {
        height: 70%;
        font-size: 20px;
        width: 70%;
        margin-top: 2%;
    }

    .form-innerForgotPassword form .ForgotPassword-link {
        margin-top: 5px;
    }

    .displayFooterForgotPassword {
        display: none;
    }

    .progressBarForgot {
        border-radius: 20px;
        height: 30px;
        width: 300px;
    } 

    .input-iconForgotPassword {
        left: 18%;
        top: 45%;
        font-size: 30px;
        transform: translateY(-50%);
    }   

    .scaltimgForgotPassword {
        width: 22%;
        top: 35%;
        left: 0%;
        z-index: 4;
    }
    
    .scaltimgForgotPasswordCircleI {
        width: 25%;
        bottom: 25%;
        right: 0%;
        z-index: 3;
    }
    
    .scaltimgForgotPasswordCircleII {
        width: 28%;
        bottom: 23%;
        left: 0%;
        z-index: 3;
    }
    
    .scaltimgForgotPasswordCircleIII {
        width: 20%;
        top: 15%;
        left: 80%;
        z-index: 4;
    }
    
    .scaltimgForgotPasswordCircleIIII {
        width: 20%;
        bottom: 20%;
        left: 1%;
        z-index: 4;
        display: block;
    }
    
    .scaltimgForgotPasswordCircleV {
        width: 8%;
        top: 5%;
        left: 5%;
        z-index: 4;
        display: block;
    }
    .scaltimgcirclesmForgot{
        width: 100%;
        bottom: 5%;
        left: 70%;
        z-index: 4;
    }
}

/* Responsive Styles */
@media (max-width: 760px) {
    input {
        font-size: 14px;
    }

    .wrapperForgotPassword {
        width: 90%;
        height: 100%;
        margin-top: 25%;
    }

    .wrapperForgotPassword.title-text {
        display: flex;
        width: 200%;
    }

    .wrapperForgotPassword .title {
        width: 100%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapperForgotPassword .slide-controls {
        height: 50px;
        width: 100%;
        overflow: hidden;
        margin: 5px 0 10px 0;
    }

    .textTitleForgotPassword {
        width: 100%;
        font-size: 17px;
        font-weight: 400;
        margin: 5px 0 2px 0;
        margin-left: 10%;
    }

    .textinputForgotPassword {
        margin: 5px 0 33px 0;
    }

    .textFrameForgotPassword {
        border-radius: 30px;
        width: 85%;
        height: 40px;
        margin-left: 7%;
    }
    .form-innerForgotPassword form .fieldForgotPassword input {
        height: 80%;
        width: 90%;
        font-size: 20px;
    }

    .form-innerForgotPassword form .fieldForgotPasswordOTP {
        height: 55px;
        width: 100%;
        margin-top: 0px;
        font-size: 25px;
    }

    .form-innerForgotPassword form .fieldForgotPasswordOTP input {
        height: 100%;
        width: 60%;
    }

    .form-innerForgotPassword form .fieldDataForgotPassword input {
        height: 80%;
        width: 80%;
        font-size: 20px;
    }

    .form-innerForgotPassword form .fieldForgotPassword input::placeholder {
        color: #ff00ff;
        transition: all 0.3s ease;
    }

    form .btnsubmitForgotPassword input[type="submit"] {
        height: 70%;
        font-size: 20px;
        width: 86%;
        margin-top: 2%;
    }

    .main-ForgotPassword {
        min-height: 120vw;
    }

     .scaltimgForgotPasswordCircleI {
        width: 50%;
        bottom: 48%;
        left: 40%;
        z-index: 3;
        object-fit: contain;
    }
    .form-innerForgotPassword form .ForgotPassword-link {
        margin-top: 5px;
    }

    .displayFooterForgotPassword {
        display: none;
    }

    .progressBarForgot {
        border-radius: 20px;
        height: 30px;
        width: 300px;
    } 

    .scaltimgForgotPassword {
        width: 30%;
        top: 47%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }

    .scaltimgForgotPasswordCircleI {
        width: 50%;
        bottom: 20%;
        left: 40%;
        z-index: 3;
        object-fit: contain;
    }

    .scaltimgForgotPasswordCircleII {
        width: 50%;
        top: 30%;
        right: 40%;
        z-index: 3;
        object-fit: contain;
        display: block;
    }

    .scaltimgForgotPasswordCircleIII {
        width: 100%;
        top: -10%;
        left: 37%;
        z-index: 4;
        display: none;
    }

    .scaltimgForgotPasswordCircleIIII {
        display: none;
    }

    .scaltimgForgotPasswordCircleV {
        display: block;
    }

    .scaltimgForgotPasswordCircleVI {
        width: 100%;
        top: -10%;
        left: 37%;
        z-index: 4;
        display: none;
    }

    .scaltimgcirclesmForgot{
        width: 70%;
        left: 70%;
        z-index: 4;
    }
}

@media (max-width: 480px) {

    .main-ForgotPassword {
        min-height: 200vw;
    }
    .wrapperForgotPassword {
        width: 90%;
        height: 50%;
        margin-top: 45%;
    }

    .slide-controlsForgotPassword .slider-tabForgotPassword {
        display: block;
    }

    .slide-controlsForgotPassword label.signup {
        display: block;
    }

    .imgWayForgotPassword {
        width: 100px;
    }

    .imgWaycircleForgot {
        width: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 32%;
        display: flex;
    }

    .scaltimgForgotPassword {
        width: 30%;
        top: 47%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }

    .scaltimgForgotPasswordCircleI {
        width: 100%;
        bottom: 48%;
        left: 40%;
        z-index: 3;
        object-fit: contain;
    }

    .scaltimgForgotPasswordCircleII {
        width: 100%;
        bottom: 20%;
        right: 40%;
        z-index: 3;
        object-fit: contain;
        display: none;
    }

    .scaltimgForgotPasswordCircleIII {
        width: 100%;
        top: -10%;
        left: 37%;
        z-index: 4;
        display: none;
    }

    .scaltimgForgotPasswordCircleIIII {
        display: none;
    }

    .scaltimgForgotPasswordCircleV {
        display: none;
    }

    .scaltimgForgotPasswordCircleVI {
        display: none;
    }

    .input-iconForgotPassword {
        left: 50px;
        top: 40%;
        font-size: 30px;
        transform: translateY(-50%);
    }
    .scaltimgcirclesmForgot{
        width: 70%;
        left: 70%;
        z-index: 4;
    }
}

@media (max-width: 400px) {
    .scaltimgForgotPasswordCircleI {
        width: 100%;
        scale: 20%;
        bottom: 48%;
        left: 40%;
        z-index: 3;
    }

    .scaltimgForgotPasswordCircleII {
        width: 100%;
        scale: 20%;
        bottom: 20%;
        right: 40%;
        z-index: 3;
    }

    .scaltimgForgotPasswordCircleIII {
        width: 100%;
        scale: 25%;
        bottom: 40%;
        left: 37%;
        z-index: 4;
    }
}

@media only screen and (max-width: 390px) {
    .wrapperForgotPassword {
        width: 90%;
        height: 59rem;
        z-index: 4;
        padding: 5px;
        margin-top: 35%;
    }

    .wrapperForgotPassword.title-text {
        display: flex;
        width: 200%;
    }

    .wrapperForgotPassword .title {
        width: 100%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapperForgotPassword .slide-controls {
        height: 50px;
        width: 100%;
        overflow: hidden;
        margin: 5px 0 10px 0;
    }

    .textTitleForgotPassword {
        width: 100%;
        font-size: 17px;
        font-weight: 400;
        margin: 5px 0 2px 0;
        margin-left: 20%;
    }

    .textinputForgotPassword {
        margin: 5px 0 33px 0;
    }
    .title-textForgotPassword {
        font-size: 22px;
    }

    .textFrameForgotPassword {
        width: 70%;
        height: 40px;
        margin: auto;
    }

    .form-innerForgotPassword form .fieldForgotPassword input {
        height: 80%;
        width: 90%;
        font-size: 20px;
    }

    .form-innerForgotPassword form .fieldForgotPasswordOTP {
        height: 55px;
        width: 100%;
        margin-top: 0px;
        font-size: 25px;
    }

    .form-innerForgotPassword form .fieldForgotPasswordOTP input {
        height: 100%;
        width: 60%;
    }

    .form-innerForgotPassword form .fieldDataForgotPassword input {
        height: 80%;
        width: 90%;
        font-size: 20px;
    }

    .form-innerForgotPassword form .fieldForgotPassword input::placeholder {
        color: #ff00ff;
        transition: all 0.3s ease;
    }

    form .btnsubmitForgotPassword input[type="submit"] {
        height: 70%;
        font-size: 20px;
        width: 90%;
        margin-top: 2%;
    }

    .form-innerForgotPassword form .ForgotPassword-link {
        margin-top: 5px;
    }

    .displayFooterForgotPassword {
        display: none;
    }

    .progressBarForgot {
        border-radius: 20px;
        height: 30px;
        width: 200px;
    } 

    .input-iconForgotPassword {
        left: 10%;
        top: 45%;
        font-size: 30px;
        transform: translateY(-50%);
    }   

    .scaltimgForgotPassword {
        width: 28%;
        top: 35%;
        left: 0%;
        z-index: 4;
        display: none;
    }
    
    .scaltimgForgotPasswordCircleI {
        width: 30%;
        bottom: 25%;
        right: 0%;
        z-index: 3;
        display: none;
    }
    
    .scaltimgForgotPasswordCircleII {
        width: 30%;
        bottom: 23%;
        left: 0%;
        z-index: 3;
        
    }
    
    .scaltimgForgotPasswordCircleIII {
        width: 30%;
        bottom: 5%;
        left: 70%;
        z-index: 4;
        display: none;
    }
    
    .scaltimgForgotPasswordCircleIIII {
        width: 20%;
        bottom: 10%;
        left: 1%;
        z-index: 4;
        display: none;
    }
    
    .scaltimgForgotPasswordCircleV {
        width: 8%;
        top: 5%;
        left: 5%;
        z-index: 4;
        display: block;
    }
    .scaltimgcirclesmForgot{
        width: 100%;
        bottom: 5%;
        left: 70%;
        z-index: 4;
    }
}